@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@theme {
  /* font-family */
  --font-raleway: "Raleway", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* color platte */
  --color-primary: #001655;
  --color-secondary: #0c89ff;
  --color-link: #0c89ff;
  --color-accent: #ff693b;
  --color-light: #ffffff;
}

[aria-current="active"] {
  color: theme("colors.accent");
}
